################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DnD_Random_Loot/v16/Server/sqlite3/db.lock
